@import "../../../scss/variables";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background-color: $blue;
  padding: 5px 15px;
  border: 1px solid $blue;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 5px rgba(0, 0, 0, 0.4);
  color: white;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
}
