<div class="container">
  <div class="grille">
      <div *ngFor="let row of dominoService.grille" class="row">
        <div *ngFor="let case of row" class="col">
          <div
            *ngIf="case.isDroppable && case.exists"
            class="case drop-target"
  
            (mouseover)="mouseOver($event)"
            [attr.data-col]="case.position.colonne"
            [attr.data-row]="case.position.ligne"
          ></div>
          <div *ngIf="!case.isDroppable && case.contenu !== 'chateau'" [ngClass]="{'case': case.contenu === null}"></div>
          <div *ngIf="case.contenu === 'chateau'" [ngClass]="'castle'" [id]="playerColor"></div>
        </div>
      </div>
  </div>
  <div
    class="preview domino"
    *ngIf="playerInfo.player.canPlaceDomino && displayDomino"
    [style.transform]="'rotate(' + dominoService.currentDominoes[0].rotate + 'deg)'"
    [ngStyle]="{
      'background-position': dominoService.currentDominoes[0].position.left + 'px ' + dominoService.currentDominoes[0].position.top + 'px',
      'top': gridPosition.top + 'px',
      'left': gridPosition.left + 'px'
    }"
  >
  
  </div>
</div>