<div class="container">
    <div class="currentDominoes">
        <div
            *ngFor="let currentDomino of dominoService.currentDominoes; let i = index"
            class="domino"
            [id]="currentDomino.numero"
            [ngStyle]="{
                'background-position': currentDomino.position.left + 'px ' + currentDomino.position.top + 'px',
                'top': i * 110 + 'px',
                'z-index': (i === 0)? 150 : 50
            }"
            [style.transform]="'rotate(' + currentDomino.rotate + 'deg)'"
            >
            <ng-container  *ngIf="i === 0 && playerInfo.player.canPlaceDomino">
                <div>
                    <img class="arrow rotate-left" src="assets/images/rotate.svg" (click)="rotate(1)">
                </div>
                <div>
                    <img class="arrow rotate-right" src="assets/images/rotate.svg" (click)="rotate(-1)">
                </div>
            </ng-container>
        </div>
    </div>
    <div class="nextDominoes">
        <div
        *ngFor="let nextDomino of dominoService.nextDominoes; let i = index"
        class="domino"
        [id]="nextDomino.numero"
        [ngStyle]="{
            'background-position': nextDomino.position.left + 'px ' + nextDomino.position.top + 'px',
            'top': i * 110 + 'px'
        }"
        (click)="chooseNextDomino(nextDomino.numero)"
        >
        </div>
    </div>
    <div class="kings">
        <div 
            *ngFor="let player of playerInfo.playersOrder; let i = index" 
            class="king {{ player.color }}-king"
            [id]="'king-' + i"
            [ngStyle]="{'left': playerInfo.kingsPosition[i].left, 'top': playerInfo.kingsPosition[i].top}"
        >
        </div>
    </div>
</div>
<div *ngIf="false" ></div>