<div class="currentDominoes">
    <div 
        *ngFor="let currentDomino of dominoService.currentDominoes"
        class="domino" 
        [ngStyle]="{'background-position': currentDomino.position.left + 'px ' + currentDomino.position.top + 'px'}"
    >
        <div>
            <img class="arrow rotate-left" src="assets/images/rotate.svg" (click)="rotate(1)">
        </div>
        <div>
            <img class="arrow rotate-right" src="assets/images/rotate.svg" (click)="rotate(-1)">
        </div>
    </div>
</div>
<div *ngIf="false" [style.transform]="'rotate(0deg)'"></div>