.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 480px;

  .currentDominoes,
  .nextDominoes {
    width: 200px;
    margin: 10px;
  }
}

.domino {
  width: 200px;
  height: 100px;
  transition: transform 0.5s ease;
  display: flex;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  background-image: url("../../../assets/images/tiles.webp");
  margin: 6px auto;
  box-shadow: 4px 4px 7px 5px rgba(70, 70, 70, 0.4);
  position: absolute;

  &:hover {
    box-shadow: 4px 4px 7px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.08);
  }

  .arrow.rotate-left {
    transform: scaleX(-1);
    right: 100px;
  }

  .arrow.rotate-right {
    left: 100px;
  }

  .arrow {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    margin: auto;
  }
}

.kings {
  position: absolute;
}

.king {
  background-image: url("../../../assets/images/kings.webp");
  width: 57px;
  height: 70px;
  position: absolute;
  z-index: 100;
  filter: drop-shadow(4px 4px 4px black);
}

.pink-king {
  background-position: 33.3%;
}

.yellow-king {
  background-position: 66.6%;
}

.blue-king {
  background-position-x: 100%;
}
