@import "./src/scss/variables";

.player {
  border-radius: 0 15px 15px 0;
  width: 200px;
  height: 20px;
  padding: 5px 3px;
  margin: 5px 5px 5px 0;
  color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.pink {
  background-color: $pink;
}

.green {
  background-color: $green;
}

.yellow {
  background-color: $yellow;
}

.blue {
  background-color: $blue;
}

.player-pseudo {
  font-size: 700;
}
