.castles {
  display: flex;
  flex-direction: row;
}

.castle {
  //background-image: url("../../../assets/tiles.webp");
}
/* 
  #red-castle {
    background-position: 205px 205px;
  }
  
  #yellow-castle {
    background-position: 205px 103px;
  }
  
  #blue-castle {
    background-position: 103px 103px;
  }
  
  #green-castle {
    background-position: 103px 205px;
  } */
